.sideLine-a {
    width: 400px;
    background-color: #CCE7E0;
    height: 70px;
    transform: rotate(-15deg);
    position: fixed;
    bottom: 100px;
    left: -100px;
    z-index: -1;
}

.sideLine-b {
    width: 400px;
    background-color: #EDF9F1;
    height: 70px;
    transform: rotate(-15deg);
    position: fixed;
    bottom: 14px;
    left: -150px;
    z-index: -1;
}

.sideLine-c {
    width: 400px;
    background-color: var(--primary-color);
    height: 70px;
    transform: rotate(-15deg);
    position: fixed;
    bottom: 400px;
    z-index: -1;
    right: -150px;
}

.sideLine-d {
    width: 400px;
    background-color: #CCE7E0;
    height: 70px;
    transform: rotate(-15deg);
    position: fixed;
    bottom: 313px;
    z-index: -1;
    right: -100px;
}

.sideLine-e {
    width: 400px;
    background-color: #EDF9F1;
    height: 70px;
    transform: rotate(-15deg);
    position: fixed;
    bottom: 254px;
    z-index: -1;
    right: -150px;
}