.react-calendar {
    border-radius: 7px;
}

.react-calendar__month-view__weekdays__weekday {
    color: var(--primary-color);
    text-decoration: none !important;
}

abbr[title] {
    text-decoration: none !important;
}

.react-calendar__navigation__label__labelText {
    color: var(--primary-color) !important;
    font-size: large;
    font-weight: bold;
}

.react-calendar__tile--active {
    background-color: var(--primary-color) !important;
    color: #fff;
    border-radius: 25px;
}

.react-calendar__navigation__arrow {
    color: var(--primary-color);
    font-size: large;
}

.highlight {
    color: darkgrey;
}
